* :focus {
  outline: none;
}

:root {
  /* 色の設定 基本的にこの色しか使わない */
  --xcolor-black: #23263A;
  --xcolor-white: #F0EFF3;
  --xcolor-gray: #C7C2CE;
  --xcolor-blue: #454D7D;
  --xcolor-yellow: #CCFF00;

  /* 文字サイズ */
  --font-large: 32px;
  --font-medium: 24px;
  --font-small: 16px;
  
}
    :root {
      --basic-margin: 100px;
      --heading-number-display: inline-block;
    }
  @media (width < 768px) {
    :root {
      --basic-margin: 50px;
      --heading-number-display: none;
    }
    .grid {
      column-count: 1 !important;
    }
  }
  @media (width < 480px) {
    :root {
      --basic-margin: 20px;
      --heading-number-display: none;
    }
  }

body{
  font-size: var(--font-medium);
}

a {
  color: var(--xcolor-white);
  display: inline-block;
  padding: .5rem;
  text-decoration-color: var(--xcolor-blue);
}

a:hover, a:active, a:focus{
  background-color:var(--xcolor-yellow);
  color: var(--xcolor-black);
  transition: 0.2s;
  text-decoration: none;
}

.theme-black {
  color: var(--xcolor-white);
  background-color: var(--xcolor-black);
}

.theme-white {
  color: var(--xcolor-black);
  background-color: var(--xcolor-white);
}

.theme-gray {
  color: var(--xcolor-black);
  background-color: var(--xcolor-gray);
}


.layout-box{
  min-height: 100vh;
  width: 100vw;
  padding: var(--basic-margin);
}

.layout-minibox{
  width: 100vw;
  padding: calc(var(--basic-margin)/2) var(--basic-margin) ;
}



.App {

}

.vertical-center{
  align-self: center;
}

.grid-r-one{
  grid-template-rows: 1fr;
}

.grid{
  display: grid;
  gap: calc(var(--basic-margin) / 2 );
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-heading {
  position: relative;
  text-align: left;
  grid-column: 1 / 5;
}
.main-heading::before{
  content: '';
  display: block;
  position: relative;
  top: 100px;
  left: 0;
  width: 100px;
  height: 6px;
  background: var(--xcolor-yellow);
}
.main-heading .number {
    font-size: calc(var(--font-large) *2); 
    line-height: calc(var(--font-large) *2.5); 
    display: var(--heading-number-display);
    margin-right: 32px;
    width: 100px;
    text-align: center;
}
.main-heading .bun {
  font-size: var(--font-large);
  line-height: calc(var(--font-large) *2.5); 
  vertical-align: top;
}


.right{
  display: inline-block;
  text-align: right;
  margin-right: 0;
}

.left{
  display: inline-block;
  text-align: left;
  margin-left: 0;
}

.bottom-left{
  align-self: flex-end;
  justify-self: end;
  margin-top: auto;

}


.flex-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}


nav{
  border-bottom: var(--xcolor-gray) 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

button {
  background: var(--xcolor-black);
  color: var(--xcolor-white);
  min-width: 20vw;
  padding: .5rem;
}
button:hover, button:active, button:focus {
  background: var(--xcolor-yellow);
  color: var(--xcolor-blue);
}

/* フォントサイズ周り */ 

.text-large{
  font-size: var(--font-large);
}

.text-small{
  font-size: var(--font-small)
}

.bold{
  font-weight: bold;
  letter-spacing: .1rem;
}