* :focus {
  outline: none;
}

body{
  background: var(--xcolor-black);
  text-align: var(--basic-align);
}

:root {
  /* 色の設定 基本的にこの色しか使わない */
  --xcolor-black: #23263A;
  --xcolor-white: #F0EFF3;
  --xcolor-gray: #C7C2CE;
  --xcolor-blue: #454D7D;
  --xcolor-yellow: #CCFF00;

  /* 文字サイズ */
  --font-xlarge: 80px;
  --font-large: 32px;
  --font-medium: 24px;
  --font-small: 16px;

  /* その他設定 */
  --basic-margin: 100px;
  --heading-number-display: inline-block;
  --basic-align: left;
  --basic-flex-direction: row; 
    }
  @media (width < 768px) {
    :root {
      --basic-margin: 50px;
      --heading-number-display: none;
      --basic-align: left;
      --basic-flex-direction: row; 
    }
  }
  @media (width < 480px) {
    :root {
        /* 文字サイズ */
      --font-xlarge: 40px;
      --font-large: 24px;
      --font-medium: 16px;
      --font-small: 12px;
      --basic-margin: 20px;
      --heading-number-display: none;
      --basic-align: center;
      --basic-flex-direction: column; 
    }
  }

body{
  font-size: var(--font-medium);
}

a {
  color: var(--xcolor-white);
  display: inline-block;
  padding: .5rem;
  text-decoration-color: var(--xcolor-blue);
}

a:hover, a:active, a:focus{
  background-color:var(--xcolor-yellow);
  color: var(--xcolor-black);
  transition: 0.2s;
  text-decoration: none;
}

h2 {
  font-size: var(--font-medium);
  color: var(--xcolor-blue);
  padding: 10px 0;
}

.news {
  list-style-type: none;
  border-top: var(--xcolor-gray) 1px solid;
  border-bottom: var(--xcolor-gray) 1px solid;
  padding: 20px 10px;
  font-size: var(--font-medium);
}

.news .date:after{
  content: '>';
  color: var(--xcolor-gray);
  margin: 20px;
}

.gray-box{
  margin-top: 50px;
  display: flex;
  background: var(--xcolor-gray);
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.theme-black {
  color: var(--xcolor-white);
  background-color: var(--xcolor-black);
}

.theme-white {
  color: var(--xcolor-black);
  background-color: var(--xcolor-white);
}

.theme-gray {
  color: var(--xcolor-black);
  background-color: var(--xcolor-gray);
}


.layout-full {
  min-height: 100vh;
  width: 100vw;
  padding: var(--basic-margin);
}

.layout-box{
  width: 100vw;
  padding: calc(var(--basic-margin)/2) var(--basic-margin) ;
}


.vertical-center{
  align-self: center;
}

.grid-r-one{
  grid-template-rows: 1fr;
}

.grid{
  display: grid;
  gap: calc(var(--basic-margin) / 2 );
}

/* 見出し用 */

.main-heading {
  position: relative;
  text-align: left;
  margin-bottom: 80px;
}
.main-heading::before{
  content: '';
  display: block;
  position: relative;
  top: 100px;
  left: 0;
  width: 100px;
  height: 6px;
  background: var(--xcolor-yellow);
}
.main-heading .number {
    font-size: calc(var(--font-large) *2); 
    line-height: calc(var(--font-large) *2.5); 
    display: var(--heading-number-display);
    margin-right: 32px;
    width: 100px;
    text-align: center;
}
.main-heading .bun {
  font-size: var(--font-large);
  line-height: calc(var(--font-large) *2.5); 
  vertical-align: top;
}

/* photo-box */
.photo-box {
  margin: 20px 0;
  text-align: var(--basic-align);
}
.photo-box img {
  width: 200px;
  height: 200px;
  border: var(--xcolor-yellow) 1px solid;
}
.photo-box h2 {
  color: var(--xcolor-yellow);
  font-size: var(--font-xlarge);
}
.photo-box p {
  color: var(--xcolor-gray);
  font-size: var(--font-medium);
  overflow: wrap;
}

/* layout */
.right{
  display: inline-block;
  text-align: right;
  margin-right: 0;
}

.left{
  display: inline-block;
  text-align: left;
  margin-left: 0;
}

.bottom-left {
  align-self: flex-end;
  justify-self: end;
  margin-top: auto;
}


.flex-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: var(--basic-flex-direction);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}


nav {
  border-bottom: var(--xcolor-gray) 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

button {
  background: var(--xcolor-black);
  color: var(--xcolor-white);
  min-width: 20vw;
  padding: .5rem;
}
button:hover, button:active, button:focus {
  background: var(--xcolor-yellow);
  color: var(--xcolor-blue);
}

/* 文字周り */ 

.text-large{
  font-size: var(--font-large);
}

.text-small{
  font-size: var(--font-small)
}

.bold {
  font-weight: bold;
  letter-spacing: .1rem;
}

.text-black {
  color: var(--xcolor-black);
}

.text-gray {
  color: var(--xcolor-gray);
}

dl {
  margin: 40px 0;
  line-height: 2.2rem;

}

dt {
  font-weight: bold;
}
dd {
  color: var(--xcolor-gray);
  margin-bottom: 40px;

}