:root {
  /* 色の設定 基本的にこの色しか使わない */
  --xcolor-black: #23263A;
  --xcolor-white: #F0EFF3;
  --xcolor-gray: #C7C2CE;
  --xcolor-blue: #454D7D;
  --xcolor-yellow: #CCFF00;
}

.theme-black {
  color: var(--xcolor-white);
  background-color: var(--xcolor-black);
}

.theme-white {
  color: var(--xcolor-black);
  background-color: var(--xcolor-white);
}

.theme-gray {
  color: var(--xcolor-black);
  background-color: var(--xcolor-gray);
}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


